.form-orcamento {
    @extend .contato;
    background-color: none;
    height: auto !important;

    .text-side {
        padding: 0;
        margin: 0;
        max-width: 100%;

        h1 {
            span {
                color: red;
            }
            font-size: 30px;
        }
        p {
            color: #000;
            font-size: 16px;
            padding: 1vh 14% 1vh;
            text-transform: initial;
        }
    }

    .form-side {
        background: none;
        padding: 0;
        max-width: 100%;
        margin: 0;
        padding: 0;

        .all-info {
            padding: 31px 7% 31px;
            margin: 0;
        }

        .form-control {
            height: 60px;
            margin-bottom: 25px;
            border: none;
            padding-left: 20px;
            color: #a0a0a0;

            &:-moz-placeholder {
                color: #a0a0a0;
            }
            &:-o-placeholder {
                color: #a0a0a0;
            }
            &:-ms-placeholder {
                color: #a0a0a0;
            }
            &:-webkit-placeholder {
                color: #a0a0a0;
            }
        }
    }
}
