.revisao-page {
    .linha-titulo {
        margin-left: 120px;
    }
}
.revisao {
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
    .etapas {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    hr {
        width: 50%;
        margin: 0 27px;
        border-top: 1px solid #2F2F2F;
        @media (max-width: 767px) {
            width: 30%;
        }
    }
    .circle {
        background: #fff;
        color: #fff;
        width: 33px;
        height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 5px solid #C71E11;
    }
    .form-passo1 {
        margin: 40px 0;
        p {
            font-size: 18px;
            color: #9F9F9F;
            font-weight: bold;
        }
    }
    .form-passo2 {
        margin: 40px 0;
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        img {
            width: 50%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .form-revisao {
            width: 50%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        p {
            font-size: 18px;
            color: #9F9F9F;
            font-weight: bold;
        }
    }
    .form-passo3 {
        margin: 40px 0;
        text-align: center;
        .fa {
            font-size: 300px;
            color: #B40C0C;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        .redirect {
            margin-top: 200px;
        }
    }
}
.progress {
    margin-bottom: 20px;
    transition: all 0.2s ease;
  }
  
  .progress-step {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

.hide{
    display: none;
}