// Fonts
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700;800");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
@import "~font-awesome/scss/font-awesome";

// Slick
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";

@import "swiper/css/swiper.css";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import "react-image-gallery/styles/css/image-gallery.css";

@import "header";
@import "footer";
@import "home";
@import "sliders";
@import "page";
@import "box";
@import "analise";
@import "darkMode";
@import "form-orcamento";
@import "empresa";
@import "revisao";

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Oxanium", sans-serif;
    background-color: #fff !important;
}
.main {
    @media screen and (max-width: 1199px) {
        padding-top: 90px;
    }
}
.background-image {
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.loading {
    margin: 0 auto;
}

.btn-enviar {
    background-color: #b40c0c;
    padding: 13px 35px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;

    &:hover {
        opacity: 0.6;
        color: #fff;
    }
}

.form-control {
    border-color: #e2e2e2;
    border-radius: 0;
    padding: 10px;
    height: 50px;
}
span.error {
    color: $red;
}
input.error,
textarea.error {
    border-color: $red;
}

.interesse {
    align-items: center;
    background-color: $red;
    display: flex;
    color: white;
    justify-content: center;
    font-size: 16px;
    height: 48px;
    width: 170px;
    white-space: nowrap;
}


.slick{

    &-prev, &-next{
        &:before {
            color: $red !important;
            font-size: 32px!important;
        }
    }

    &-prev{
        left: 5px !important;
        z-index: 2;
        @media(min-width: 768px){
            left: -25px;
        }
    }

    &-next{
        right: 15px !important;

        @media(min-width: 768px){
            right: -25px;
        }
    }
}
